#Accept VMware License agreement

vmaccepteula


# Set the root password

rootpw Password123!


# Install ESXi on the first disk (Local first, then remote then USB)

install --firstdisk --overwritevmfs


# Set the keyboard

keyboard 'US Default'


# Set the network

network --bootproto=dhcp


# reboot the host after installation is completed

reboot


# run the following command only on the firstboot

%firstboot --interpreter=busybox


# enable & start remote ESXi Shell (SSH)

vim-cmd hostsvc/enable_ssh

vim-cmd hostsvc/start_ssh


# enable & start ESXi Shell (TSM)

vim-cmd hostsvc/enable_esx_shell

vim-cmd hostsvc/start_esx_shell


# supress ESXi Shell shell warning - Thanks to Duncan (http://www.yellow-bricks.com/2011/07/21/esxi-5-suppressing-the-localremote-shell-warning/)

esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1

# https://www.packer.io/docs/builders/vmware-iso.html#building-on-a-remote-vsphere-hypervisor

esxcli system settings advanced set -o /Net/GuestIPHack -i 1

esxcli network firewall set --enabled false

# Get Network adapter information

NetName="vmk0"


# Get the IP address assigned by DHCP

IPAddress=$(localcli network ip interface ipv4 get | grep "${NetName}" | awk '{print $2}')


#Get the netmask assigned by DHCP

NetMask=$(localcli network ip interface ipv4 get | grep "${NetName}" | awk '{print $3}')


# Get the gateway provided by DHCP

Gateway=$(localcli network ip interface ipv4 get | grep "${NetName}" | awk '{print $6}')

DNS="1.1.1.1"

VlanID="50"


# Get the hostname assigned thanks to reverse lookup zone

#HostName=$(hostname -s)

HostName=esxi-local


SuffixDNS="vsphere.lab"

FQDN="${HostName}.${SuffixDNS}"


# set static IP + default route + DNS

esxcli network ip interface ipv4 set --interface-name=vmk0 --ipv4=${IPAddress} --netmask=${NetMask} --type=static --gateway=${Gateway}

esxcli network ip dns server add --server ${DNS}


# Set VLAN ID

#esxcli network vswitch standard portgroup set --portgroup-name "Management Network" --vlan-id 50


#Disable ipv6

esxcli network ip set --ipv6-enabled=0


# set suffix and FQDN host configuration

esxcli system hostname set --fqdn=${FQDN}

esxcli network ip dns search add --domain=${SuffixDNS}


# NTP Configuration (thanks to http://www.virtuallyghetto.com)

cat > /etc/ntp.conf << __NTP_CONFIG__

restrict default kod nomodify notrap noquerynopeer

restrict 127.0.0.1

server 0.fr.pool.ntp.org

server 1.fr.pool.ntp.org

__NTP_CONFIG__

/sbin/chkconfig ntpd on


# rename local datastore to something more meaningful

#vim-cmd hostsvc/datastore/rename datastore1 "Local - $(hostname -s)"


# restart a last time

reboot
